{% extends 'base.html' %}

{% block content %}
<div class="box page-header">
    <h2>{{ course.subject }}</h2>
    <h3>{{ course.title }}</h3>
</div>
<div>
    <div class="box row-container">
        <p>Start Time: {{ course.start_time }}</p>
        <p>End Time: {{ course.end_time }}</p>
        <p>Level: {{ course.level }}</p>
        <p>Units: {{ course.units }}</p>
    </div>
    <div class="box">
        <h3>Description</h3>
        <p class="text-center">{{ course.description }}</p>
    </div>
    <div>
        {% if user.role == "TEACHER" %}
        <a class="button is-info" href="{{% url 'course_update' course.id %}}">Edit Course</a>
        <a class="button is-danger" href="{{% url 'course_delete' course.id %}}">Delete Course</a>
        {% endif %}
    </div>
</div>

{% endblock %}