{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <div class="box page-header">
            <h2>Edit {{ object.title }}</h2>
        </div>
        <div class="col-container">
            <form action="{% url 'assignment_update' object.id %}" method="POST" class="field">
                {%  csrf_token %}
                    <label class="label">
                        Title<span class="required"> *</span>
                        <input class="input" type="text" name="title" 
                            {% if object %}
                                value="{{ object.title }}"
                            {% endif %}
                        required>
                    </label>
                    <label class="label">
                        Subject<span class="required"> *</span>
                        <input class="input" type="text" name="subject"
                            {% if object %}
                                value="{{ object.subject }}"
                            {% endif %}
                        required>
                    </label>
                    <label class="label">
                        Due Date<span class="required"> *</span>
                        <input class="input" type="date" name="due_date"
                            {% if object %}
                                value="{{ object.due_date }}"
                            {% endif %}
                        required>
                    </label>
                    <label class="label">
                        Description
                        {% if object %}
                        <textarea class="textarea" name="description" rows="3" maxlength="1000">{{ object.description }}</textarea>
                        {% else %}
                        <textarea class="textarea" name="description" rows="3" maxlength="1000"></textarea>
                        {% endif %}
                    </label>
                    <label class="label">
                        Submitted
                        <input class="checkbox" type="checkbox" name="submitted"
                            {% if object %}
                                value="{object.submitted}"
                            {% endif %}
                        >
                    </label>
                    <input class="button main-btn" type="submit" value="Submit">
            </form>
        </div>
    {% else %}
    <div class="box page-header">
        <h2>Create New Assignment</h2>
    </div>
        <div class="col-container">
            <form action="{% url 'assignment_create' %}" method="POST" class="field">
                {%  csrf_token %}
                    <label class="label">
                        Title<span class="required"> *</span>
                        <input class="input" type="text" name="title" 
                            {% if object %}
                                value="{{ object.title }}"
                            {% endif %}
                        required>
                    </label>
                    <label class="label">
                        Subject<span class="required"> *</span>
                        <input class="input" type="text" name="subject"
                            {% if object %}
                                value="{{ object.subject }}"
                            {% endif %}
                        required>
                    </label>
                    <label class="label">
                        Due Date<span class="required"> *</span>
                        <input class="input" type="date" name="due_date"
                            {% if object %}
                                value="{{ object.due_date }}"
                            {% endif %}
                        required>
                    </label>
                    <label class="label">
                        Description
                        {% if object %}
                        <textarea class="textarea" name="description" rows="3" maxlength="1000">{{ object.description }}</textarea>
                        {% else %}
                        <textarea class="textarea" name="description" rows="3" maxlength="1000"></textarea>
                        {% endif %}
                    </label>
                    <label class="label">
                        Submitted
                        <input class="checkbox" type="checkbox" name="submitted"
                            {% if object %}
                                value="{object.submitted}"
                            {% endif %}
                        >
                    </label>
                    <input class="button main-btn" type="submit" value="Submit">
            </form>
        </div>
    {% endif %}
{% endblock %}