{% extends 'base.html' %}

{% block content %}
    {% if object %}
    <div class="box page-header">
        <h2>Edit {{ object.title }}</h2>
    </div>
    <div class="col-container">
        <form action="{% url 'course_update' object.id %}" method="POST" class="field">
            {%  csrf_token %}
                <label class="label">
                    Title<span class="required"> *</span>
                    <input class="input" type="text" name="title" 
                        {% if object %}
                            value="{{ object.title }}"
                        {% endif %}
                    required>
                </label>
                <label class="label">
                    Subject<span class="required"> *</span>
                    <input class="input" type="text" name="subject"
                        {% if object %}
                            value="{{ object.subject }}"
                        {% endif %}
                    required>
                </label>
                <div class="row-form-input">
                    <label class="label">
                        Start Date<span class="required"> *</span>
                        <input class="input" type="date" name="start_time"
                            {% if object %}
                                value="{{ object.start_time }}"
                            {% endif %}
                        required>
                    </label>
                    <label class="label">
                        End Date<span class="required"> *</span>
                        <input class="input" type="date" name="end_time"
                            {% if object %}
                                value="{{ object.start_time }}"
                            {% endif %}
                        required>
                    </label>
                </div>
                <div class="row-form-input">
                    <label class="label">
                        Level
                        <input class="input" type="text" name="level"
                            {% if object %}
                                value="{{ object.level }}"
                            {% endif %}
                        >
                    </label>
                    <label class="label">
                        Course Units
                        <input class="input" type="number" name="course_units"
                            {% if object %}
                                value="{{ object.course_units }}"
                            {% endif %}
                        >
                    </label>
                </div>
                <label class="label">
                    Term
                    <input class="input" type="text" name="term"
                        {% if object %}
                            value="{{ object.term }}"
                        {% endif %}
                    >
                </label>
                <label class="label">
                    Description
                    {% if object %}
                    <textarea class="textarea" name="description" rows="3" maxlength="1000">{{ object.description }}</textarea>
                    {% else %}
                    <textarea class="textarea" name="description" rows="3" maxlength="1000"></textarea>
                    {% endif %}
                </label>
                <input class="button main-btn" type="submit" value="Submit">
        </form>
    </div>
    {% else %}
    <div class="box page-header">
        <h2>Create New Course</h2>
    </div>
    <div class="col-container">
        <form action="{% url 'course_create' %}" method="POST" class="field">
            {%  csrf_token %}
                <label class="label">
                    Title<span class="required"> *</span>
                    <input class="input" type="text" name="title" 
                        {% if object %}
                            value="{{ object.title }}"
                        {% endif %}
                    required>
                </label>
                <label class="label">
                    Subject<span class="required"> *</span>
                    <input class="input" type="text" name="subject"
                        {% if object %}
                            value="{{ object.subject }}"
                        {% endif %}
                    required>
                </label>
                <div class="row-form-input">
                    <label class="label">
                        Start Date<span class="required"> *</span>
                        <input class="input" type="date" name="start_time"
                            {% if object %}
                                value="{{ object.start_time }}"
                            {% endif %}
                        required>
                    </label>
                    <label class="label">
                        End Date<span class="required"> *</span>
                        <input class="input" type="date" name="end_time"
                            {% if object %}
                                value="{{ object.start_time }}"
                            {% endif %}
                        required>
                    </label>
                </div>
                <div class="row-form-input">
                    <label class="label">
                        Level
                        <input class="input" type="text" name="level"
                            {% if object %}
                                value="{{ object.level }}"
                            {% endif %}
                        >
                    </label>
                    <label class="label">
                        Course Units
                        <input class="input" type="number" name="course_units"
                            {% if object %}
                                value="{{ object.course_units }}"
                            {% endif %}
                        >
                    </label>
                </div>
                <label class="label">
                    Term
                    <input class="input" type="text" name="term"
                        {% if object %}
                            value="{{ object.term }}"
                        {% endif %}
                    >
                </label>
                <label class="label">
                    Description
                    {% if object %}
                    <textarea class="textarea" name="description" rows="3" maxlength="1000">{{ object.description }}</textarea>
                    {% else %}
                    <textarea class="textarea" name="description" rows="3" maxlength="1000"></textarea>
                    {% endif %}
                </label>
                <input class="button main-btn" type="submit" value="Submit">
                <a class="button is-dark" href="{% url 'course_index' %}">Back</a>
        </form>
    </div>
    {% endif %}
{% endblock %}