{% extends 'base.html' %}

{% block content %}
<div class="detail-container">
    <div class="box avatar-background">
        <div class="avatar">
        </div>
        <div class="detail-student-title">
            <h2>{{ student.first_name }} {{ student.last_name }}</h2>
            <p>Grade: {{ student.grade }}</p>
            <p>{{ student.sex }}</p>
            <p class="student-ph-dob">DOB: {{ student.dob }}</p>
            <p class="student-ph-dob">PH#: {{ student.phone_number }}</p>
            <p class="student-ph-dob">Address: {{ student.address }}</p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-half">
            <h3>Courses Enrolled</h3>
            <div class="box">
                <a href="{% url 'course_index' %}">Course</a>
                </div>
        </div>
        <div class="column is-half">
            <h3>Assignments</h3>
            <div class="box">
                <a href="{% url 'assignment_index' %}">Assignments</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}