{% extends 'base.html' %}

{% block content %}
<!-- teacher signup -->
<div class="columns" >
    <div class="column">
        <!-- teacher login -->
        <h1>Teacher Login</h1>
        {% if error_message %}
            <p class="red-text">{{ error_message }}</p>
        {% endif %}
        <form class="field" action="{% url 'teacher-login' %}" method="POST">
            {% csrf_token %}
            <label class="label">
                Username
                <input class="input" type="text" name="username">
            </label>
            <label class="label">
                Password
                <input class="input" type="password" name="password">
            </label>
            <input class="button" type="submit" value="Login">
        </form>
    </div>
    <div class="column is-three-fifths">
        <h1>Teacher Signup</h1>
        {% if error_messgae %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form class="field" action="" method="POST">
            {% csrf_token %}
            <div class="label-container">
                <label class="label">
                    First Name
                    <input class="input" type="text" name="first_name">
                </label>
                <label class="label">
                    Last Name
                    <input class="input" type="text" name="last_name">
                </label>
            </div>
            <div class="label-container">
                <label class="label">
                    Username
                    <input class="input" type="text" name="username">
                </label>
                <label class="label">
                    Email
                    <input class="input" type="email" name="email">
                </label>
            </div>
            <div class="label-container">
                <label class="label">
                    Address
                    <input class="input" type="text" name="address">
                </label>
                <label class="label">
                    Phone Number
                    <input class="input" type="tel" name="phone_number" maxlength="14" id="phone">
                </label>
            </div>
            <div class="label-container">
                <label class="label">
                    Teaching Subject
                    <input class="input" type="text" name="subject" placeholder="Math">
                </label>
                <label class="label">
                    Sex
                    <input class="input" type="text" name="sex" placeholder="Female" maxlength="10">
                </label>
            </div>
            <label class="label label-description">
                Description
                <textarea class="textarea" name="description" rows="5" maxlength="500"></textarea>
            </label>
            <div class="label-container">
                <label class="label">
                    Password
                    <input class="input" type="password" name="password1">
                </label>
                <label class="label">
                    Confirm Password
                    <input class="input" type="password" name="password2">
                </label>
            </div>
            <input type="submit" value="Signup" class="button">
        </form>
    </div>
</div>
{% endblock %}
