
{% extends 'base.html' %}

{% block content %}
  
<div class="about-container">
    <h1 class="is-medium">Teaching Tools in One Place</h1>
    <h2 class="subtitle is-medium">
        SchoolPy offers a simple and easy to use interface that connects students and teachers throughout the school year.
    </h2>
    <h2 class="subtitle is-medium">
        Allows teachers to post assignments, grades, and other common classroom materials.
    </h2>
    <div class="about-btn-container">
        <a class="button is-info about-btn" href="{% url 'student-signup' %}">Sign In/Create Student Account</a>
        <a class="button is-info about-btn" href="{% url 'teacher-signup' %}">Sign In/Create Teacher Account</a>
</div>
<hr/>
    <div class="img-container">
        <figure class="image-index">
             <img class="img-index" src="">  <!--to do -->
        </figure>
    </div>


{% endblock %}