{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>SchoolPy</title>
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}

    <!-- Main -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    {% include 'footer.html' %}
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</body>
</html>