<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
            Schoolpy
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            {% if user.role == "TEACHER" %}
            <a class="navbar-item" href="{% url 'teacher-dashboard' %}">
            Dashboard
            </a>
            <a class="navbar-item" href="{% url 'course_create' %}">Create a Course</a>
            <a class="navbar-item" href="{% url 'assignment_create' %}">Create Assignment</a>
            {% endif %}
            {% if user.role == "STUDENT" %}
            <a class="navbar-item" href="{% url 'student-dashboard' %}">
            Dashboard
            </a>
            {% endif %}
            <a class="navbar-item" href="{% url 'about' %}">
                About
            </a> 
        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                {% if user.role == "TEACHER" or user.role == "STUDENT" %}
                <a class="button btn-signup" href="{% url 'logout' %}">
                    <strong>Logout</strong>
                </a>
                {% else %}
                <a class="button btn-signup" href="{% url 'teacher-signup' %}">
                    <strong>Teacher Login / Sign up</strong>
                </a>
                <a class="button btn-signup" href="{% url 'student-signup' %}">
                    <strong>Student Login / Sign up</strong>
                </a>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
</nav>
