{% extends 'base.html' %}

{% block content %}
<div class="home-banner-container">
    <h1>Teaching Tools in One Place</h1>
    <h2>
        SchoolPy offers a simple and easy to use interface that connects students and teachers throughout the school year.
    </h2>
    <h2>
        Allows teachers to post assignments, grades, and other common classroom materials.
    </h2>
</div>  
<div class="columns is-tablet home-info-container">
    <div class="column box home-info-box">
        <div class="icon-title">
        <span class="icon">
            <ion-icon name="shield-checkmark"></ion-icon>
        </span>
        <h1>Courses</h1>
        </div>
        <h2>Displays everything you need to know about the course, including your teacher, level, course units, and more!</h2>
    </div>
    <div class="column box home-info-box">
        <div class="icon-title">
            <span class="icon">
                <ion-icon name="shield-checkmark"></ion-icon>
            </span>
        <h1>Assignments</h1>
        </div>
        <h2>Be informed when your assignments are due for each subject! Never miss submitting an assignment again with Schoolpy!</h2>
    </div>
    <div class="column box home-info-box">
        <div class="icon-title">
            <span class="icon">
                <ion-icon name="shield-checkmark"></ion-icon>
            </span>
        <h1>Announcements</h1>
        </div>
        <h2>Helps you keep track of important announcements you may have missed during lecture or important dates.</h2>
    </div>
</div>
{% endblock %}