{% extends 'base.html' %}

{% block content %}
<div class="home-banner-container">
    <h1 class="text-center">Teaching Tools in One Place</h1>
    <p class="text-center">
        SchoolPy offers a simple and easy to use interface that connects students and teachers throughout the school year.
    </p>
    <p class="text-center">
        Allows teachers to post assignments, grades, and other common classroom materials.
    </p>
</div>  
<div class="columns is-tablet home-info-container">
    <div class="column box home-info-box">
        <div class="icon-title">
            <span class="icon">
                <ion-icon name="shield-checkmark"></ion-icon>
            </span>
            <h2>Courses</h2>
        </div>
        <p class="text-center">Displays everything you need to know about the course, including your teacher, level, course units, and more!</p>
    </div>
    <div class="column box home-info-box">
        <div class="icon-title">
            <span class="icon">
                <ion-icon name="shield-checkmark"></ion-icon>
            </span>
            <h2>Assignments</h2>
        </div>
        <p class="text-center">Be informed when your assignments are due for each subject! Never miss submitting an assignment again with Schoolpy!</p>
    </div>
    <div class="column box home-info-box">
        <div class="icon-title">
            <span class="icon">
                <ion-icon name="shield-checkmark"></ion-icon>
            </span>
        <h2>Announcements</h2>
        </div>
        <p class="text-center">Helps you keep track of important announcements you may have missed during lecture or important dates.</p>
    </div>
</div>
{% endblock %}