{% extends 'base.html' %}

{% block content %}
<div class="about-container">
    <h1 class="is-medium">Teaching Tools in One Place</h1>
    <h2 class="subtitle is-medium">
        SchoolPy offers a simple and easy to use interface that connects students and teachers throughout the school year.
    </h2>
    <h2 class="subtitle is-medium">
        Allows teachers to post assignments, grades, and other common classroom materials.
    </h2>
    <div class="about-btn-container">
        <a class="button is-info about-btn" href="{% url 'student-signup' %}">Sign In/Create Student Account</a>
        <a class="button is-info about-btn" href="{% url 'teacher-signup' %}">Sign In/Create Teacher Account</a>
    </div>
</div>  
<hr/> 
</div> 
<div class="columns ">
    <div class="column">
        <div class="icon-title">
        <span class="icon">
            <ion-icon name="shield-checkmark"></ion-icon>
        </span>
        <h1>Courses</h1>
        </div>
        <h2>Displays everything you need to know about the course, including your teacher, level, course units, and more!</h2>
    </div>
    <div class="column">
        <div class="icon-title">
            <span class="icon">
                <ion-icon name="shield-checkmark"></ion-icon>
            </span>
        <h1>Assignments</h1>
        </div>
        <h2>Be informed when your assignments are due for each subject! Never miss submitting an assignment again with Schoolpy!</h2>
    </div>
    <div class="column">
        <div class="icon-title">
            <span class="icon">
                <ion-icon name="shield-checkmark"></ion-icon>
            </span>
        <h1>Announcements</h1>
        </div>
        <h2>Helps you keep track of important announcements you may have missed during lecture or important dates.</h2>
    </div>
</div>

{% endblock %}