{% extends 'base.html' %}

{% block content %}
<div class="detail-container">
    <div class="box avatar-background">
        <div class="row-container align-center">
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <h2>{{ student.first_name }} {{ student.last_name }}</h2>
        </div>
        <div class="detail-student-title">
            <div class="horz-lg-box"">
                <div class="row-container align-center">
                    <ion-icon class="icon-white" size="small" name="person"></ion-icon>
                    <p class="student-ph-dob">{{ student.dob }}</p>
                    <ion-icon class="icon-white" size="small" name="school"></ion-icon>
                    <p class="student-ph-dob">{{ student.grade }}</p>
                    <ion-icon class="icon-white" size="small" name="male-female"></ion-icon>
                    <p class="student-ph-dob">{{ student.sex }}</p>
                </div>
            </div>
            <div class="horz-lg-box"">
                <div class="row-container align-center">
                    <ion-icon class="icon-white" size="small" name="call"></ion-icon>
                    <p class="student-ph-dob">{{ student.phone_number }}</p>
                    <ion-icon class="icon-white" size="small" name="location"></ion-icon>
                    <p class="student-ph-dob">{{ student.address }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-container">
        <div class="columns">
            <div class="column">
                <div class="box home-info-box">
                    <h3>Courses Enrolled</h3>
                    <a class="button is-info" href="{% url 'course_index' %}">View All</a>
                    {% for course in courses %}
                    {% if forloop.counter <= 3 %}
                        <a href="{% url 'course_detail' course.id %}">{{course.title}}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <div class="box home-info-box">
                    <h3>Assignments</h3>
                    <a class="button is-info" href="{% url 'assignment_index' %}">View All</a>
                    {% for assignment in assignments %}
                    {% if forloop.counter <= 3 %}
                        <a href="{% url 'assignment_detail' assignment.id %}">{{assignment.title}}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}