*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --header-bg-color: rgb(255, 255, 255);
    --main-color: rgb(44, 94, 135);
    --main-color-hover: rgb(34, 74, 106);
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* padding: 1rem; */
    margin: 0;
    flex: 1 0 auto;
}
form{
    width: 100%;
    max-width: 600px;
    padding: 0 1rem;
}

/* MAIN */
.main-btn{
    color: white;
    background-color: var(--main-color);
}
.main-btn:hover{
    color: white;
    background-color: var(--main-color-hover);
}
.row-form-input{
    display: flex;
}
.col-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-header{
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    height: auto;
}
.page-header h1{
    font-size: 1.3rem;
    font-weight: 700;
}

/* NAVIGATION */
.navbar{
    background-color: var(--header-bg-color);
    box-shadow: 0px 0px 5px 1px #848484;
}
.btn-signup{
    background-color: var(--main-color);
    color: white;
}
.btn-signup:hover{
    background-color: var(--main-color-hover);
    color: white;
}

/* HOME PAGE */
.home-info-container{
    margin: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}
.home-info-box{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 300px;
    min-width: 350px;
    background-color: rgb(240, 240, 240);
    padding: 2rem;
}
.home-info-box h1{
    font-size: 1.6rem;
}
ion-icon{
    font-size: 100px;  
}
.icon{
    color: black;;
}
.icon-title{
    display: flex;
    align-items: center;
}
.home-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-image: url("https://images.unsplash.com/photo-1607081759141-5035e0a710a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
    background-position: center;
    height: 500px;
    gap: 1rem;
}
.home-banner-container h1{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}
.home-banner-container h2{
    font-size: 1.3rem;
    text-align: center;
}
.home-info-box{
    gap: 1rem;
    text-align: center;
}
.about-btn-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-btn{
    margin: 0.5rem 0.5rem;
}

/* TEACHER FORM */
.form-title{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label-container{
    display: flex;
    align-content: center;
}
.label{
    width: 100%;
    padding: 0.4rem;
}
.btn-form{
    background-color: var(--main-color);
    color: white;
    margin-left: 0.4rem;
}
.btn-form:hover{
    background-color: var(--main-color-hover);
    color: white;
}
.password-requirements{
    padding-left: 1.2rem;
}
.password-requirements li{
    list-style-type: disc;
}
.required, .error-text{
    color: red;
}


/* TEACHER DASHBOARD */
.teacher-name, .student-name{
    font-size: 1.4rem;
    font-weight: 700;
}
.teacher-info{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.student-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
}
.student-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    /* background-color: rgb(233, 196, 106); */
}
.student-box a{
    color: black;
}
.section .is-medium{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.login-container{
    display: flex;
    margin-top: 0;
}

/* STUDENT DETAIL PAGE */
.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.avatar-background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    gap: 3rem;
}
.avatar{
    background-color: #C6C5B9;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.detail-student-title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.detail-student-title h1{
    font-size: 1.4rem;
    font-weight: 700;
}
.student-ph-dob-container{
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.student-ph-dob{
    display: flex;
    flex-direction: column;
}
/* FOOTER */
footer{
    background-color: var(--main-color) !important;
    padding: 2rem !important;
    margin-top: 2rem;
}
footer a,p,strong{
    color: white;
}
footer a:hover{
    color: rgb(232, 232, 232);
}