*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --header-bg-color: #FBFBFD;
    --main-color: #2C5E87;
    --main-color-hover: #275478;
    --second-color: #323233;
    --second-color-hover: #222222;
}
a{
    color: var(--second-color);
}
a:hover{
    color: var(--main-color);
}
h1{
    font-size: 2rem;
    font-weight: 700;
}
h2{
    font-size: 1.3rem;
    font-weight: 700;
}
h3{
    font-size: 1.2rem;
    font-weight: 700;
}
p{
    font-size: 1.1rem;
    color: black;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 0 auto;
}
form{
    width: 100%;
    max-width: 600px;
    padding: 0 1rem;
}

/* BUTTONS */
.main-btn{
    color: white;
    background-color: var(--main-color);
}
.main-btn:hover{
    color: white;
    background-color: var(--main-color-hover);
}
.second-btn{
    color: white;
    background-color: var(--second-color);
}
.second-btn:hover{
    color: white;
    background-color: var(--second-color-hover);
}
/* END BUTTONS */

/* CONTAINERS */
.text-center{
    text-align: center;
}
.row-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}
.col-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}
.box{
    background-color: #f5f5f5;
}
.horz-sm-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    max-width: 240px;
    height: 100px;
}
.horz-md-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    max-width: 300px;
    height: 120px;
}
.horz-lg-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    max-width: 450px;
}
/* END CONTAINERS */

/* FORMS */
.row-form-input{
    display: flex;
}
.required, .form-message-text{
    color: red;
}
.label-container{
    display: flex;
    align-content: center;
}
.label{
    width: 100%;
    padding: 0.4rem;
}
.password-requirements{
    padding-left: 1.2rem;
}
.password-requirements li{
    list-style-type: disc;
}
/* END FORMS */

/* MAIN */
.page-header{
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    height: auto;
}
.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVIGATION */
.navbar{
    background-color: var(--header-bg-color);
    box-shadow: 0px 0px 5px 1px #848484;
}

/* HOME PAGE */
.home-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-image: url("https://images.unsplash.com/photo-1607081759141-5035e0a710a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80");
    background-position: center;
    height: 500px;
    gap: 1rem;
}
.home-info-container{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}
.home-info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 300px;
    min-width: 400px;
    max-width: 500px;
    background-color: rgb(240, 240, 240);
    padding: 2rem;
}
/* END HOME PAGE */

/* STUDENT DETAIL PAGE & DASHBOARD */
.detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.avatar-background h1, .avatar-background h2, .avatar-background p{
    color: white;
}
.avatar-background{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    width: 100%;
    gap: 3rem;
    background-color: #323233;
}
.detail-student-title{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* ASSIGNMENTS INDEX */
.assignment-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 280px;
    height: 90px;
    gap: 0.4rem;
}

/* ICONS */
.icon-black{
    color: black;;
}
.icon-white{
    color: white;
}
.icon-md-size{
    font-size: 24px;
}

/* FOOTER */
footer{
    background-color: var(--main-color) !important;
    padding: 2rem !important;
    margin-top: 2rem;
}
footer a, footer p, footer strong{
    color: white;
}
footer a:hover{
    color: rgb(232, 232, 232);
}