{% extends 'base.html' %}

{% block content %}
<div class="box page-header">
    <h2>{{ assignment.subject }} - {{ assignment.title }}</h2>
</div>
<div class="col-container">
    <div>
        <div class="box col-container">
            <h3>Due Date: </h3>
            <p class="text-center">{{ assignment.due_date }}</p>
        </div>
        <div class="box col-container">
            <h3>Assignment Description</h3>
            <p class="text-center">{{ assignment.description }}</p>
        </div>
    </div>
    <div>
        {% if user.role == "TEACHER" %}
        <a class="button is-info" href="{% url 'assignment_update' assignment.id %}">Edit Assignment</a>
        <a class="button is-danger" href="{% url 'assignment_delete' assignment.id %}"> Delete assignment</a>
        {% endif %}
    </div>
</div>
{% endblock %}